<html>
  <head>
	<title>DocDepot: {{ page_title }}</title>
  </head>

  <body>
	<img width="200px" src="/static/media/geneticus-fist.gif" style="float:right;clear:right;">
	<h1>{{ page_title }}</h1>
	Hello, {{ user.username }}
	{% if pmid %}
	<br><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}">{{ pmid }}</a>
	<dl>
	  <dt>{{ pma.title }}</dt>
	  <dd>{{ pma.authors_str }}
		<br>{{ pma.jrnl }}
		<br>{{ pma.year }}
	  </dd>
	</dl>
	
	<br>

	{% if rp %}
	This paper is in the Locus Library. Click <a href="/library/{{ rp}}">
	  <img src="/static/media/pdf.gif"></a> to get it.
	{% else %}
	This paper is not in the Locus Library.  Click 
	<a href="http://www.reprintsdesk.com/landing/pubmed.aspx?sid=Entrez:PubMed&id=pmid:20412080">
	  <img src="/static/media/reprintsdesk.gif"></a> to get it.
	{% endif %}

	{% endif %}
  </body>
</html>
