<html>
  <head>
	<title>DocDepot: {{ page_title }}</title>
  </head>

  <body>
	<h1>{{ page_title }}</h1>
	Hello, {{ user.first_name }}
	{% if pmid %}
	<br><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}">{{ pmid }}</a>
	<dl>
	  <dt>{{ pma.title }}</dt>
	  <dd>{{ pma.authors_str }}
		<br>{{ pma.jrnl }}
		<br>{{ pma.year }}
	  </dd>
	</dl>
	<br>This paper is in the Locus Library. Click here to download it.
	<br>subscribe me (inop)
	<br><a href="http://www.reprintsdesk.com/landing/pubmed.aspx?sid=Entrez:PubMed&id=pmid:20412080"><img src="/static/media/reprintsdesk.gif"></a>
	{% endif %}
  </body>
</html>
