{% extends "base.html" %}

{% block page_title %}Locus Library &raquo; {{ title }}{% endblock %}
{% block title %}Locus Library &raquo; {{ title }}{% endblock %}
{% block snippet %}help with the Locus document repository{% endblock %}

{% block content %}

<h2>The Locus Library</h2>

<p>The Locus Library is a repository of scientific publications for use by
Locus employees.  For more information, please
see <a href="https://docs.google.com/a/locusdev.net/document/d/1uOCnWvJL1tRHIvo0_D6LBrYADjjyz8n8ss-2UTFM-Sg/edit?hl=en&authkey=CPOCg-UD">internal
documentation (authorization required)</a>.</p>

<div class="note important">
  The Locus Library is restricted to employees of Locus Development.
  Other users will be denied access and are advised to not select this
  outside tool.
</div>

{% endblock %}
